<% @title = "Custodians" %>

<%= form_tag(custodians_path, :method => "get", id: "search-form", style: 'text-align:right') do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Custodians", class: 'input-large search-query' %>
<%= button_tag(type: "submit", class: "btn btn-primary") do %>
   <i class="icon-search"></i> Search 
<% end %>
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <%= will_paginate @custodians %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Custodian Name</th>
        </tr>
      </thead>
      <tbody>
      <% @custodians.each do |custodian| %>
        <tr>
          <td><i class="icon-plus-sign"> </i><%= custodian.name %>
           <div style="display:none;"> 
          <table class="table">
          <thead>
            <tr>
              <th>Plan Name</th>
              <th>Market Value</th>
            </tr>
          </thead>
        <tbody>
          <% iw_total = 0 %>
          <% smw_total = 0 %>
          <% custodian.plans.order("name asc").each do |pm| %>
            <% if pm.trade_id == 1 %>
              <% iw_total = iw_total + pm.total %>
              <% elsif pm.trade_id == 2 %>
                <% smw_total = smw_total + pm.total %>
            <% end %>
            <% if current_user.has_role? :iw %>
              <% if pm.trade_id == 1 %>
                <tr>
                  <td>
                    <%= pm.name %>
                  </td>
                  <td>
                    <%= number_to_currency(pm.total) %>
                </tr>
              <% end %>
            <% elsif current_user.has_role? :smw %>
              <% if pm.trade_id == 2 %>
                <tr>
                  <td>
                    <%= pm.name %>
                  </td>
                  <td>
                    <%= number_to_currency(pm.total) %>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td>
                  <%= pm.name %>
                </td>
                <td>
                  <%= number_to_currency(pm.total) %>
              </tr>
            <% end %>
        <% end %>
            <tr>
              <td>
              </td>
            <td>
                <strong>SMW Total:</strong>
              </td>
              <td>
                <strong><%= number_to_currency(smw_total) %></strong>
              </td>
            </tr>
             <tr>
               <td>
              </td>
              <td>
                <strong>IW Total:</strong>
              </td>
              <td>
                <strong><%= number_to_currency(iw_total) %></strong>
              </td>
            </tr>
        <tr>
          <td>
          </td>
          <td>
            <strong>Total:</strong>
          </td>
          <td>
            <strong><%= number_to_currency(iw_total + smw_total) %></strong>
          </td>
        </tr>
      </tbody>
    </table>
        </div></td>
          <td class="actions">
            <%= link_to icon_tag("eye-open"), custodian_path(custodian, format: "pdf"), rel: 'tooltip', title: 'Show', target: "_blank" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
     <%= will_paginate @custodians %>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->

