<%# Top navigation bar containing the main menu of your app. %>
<div class="navbar navbar-fixed-top">
  <!-- TIP: to unfix the navbar:
    1. remove the 'navbar-fixed-top' class here and
    2. add the 'static-navbar' class to your body tag. -->
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Le logo -->
      <a class="brand" href="<%= plans_path %>"><strong><%= app_name %></strong></a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <% if user_signed_in? %>
        <div class="nav-collapse">
          <% if current_user.has_role? :admin %>
            <ul class="nav">
              <%= activatable_li_tag_with_link 'Trades', trades_path %> 
            </ul>
          <% end %>
          <ul class="nav">
          <%= activatable_li_tag_with_link 'Plans', plans_path %> 
         </ul>
         <ul class="nav">
          <%= activatable_li_tag_with_link 'Managers', managers_path %> 
         </ul>
         <ul class="nav">
          <%= activatable_li_tag_with_link 'Securities', companies_path %> 
         </ul>
         <ul class="nav">
          <%= activatable_li_tag_with_link 'Custodians', custodians_path%> 
         </ul>
         <ul class="nav">
          <%= activatable_li_tag_with_link 'Consultants', consultants_path%> 
         </ul>
         
          <%= yield :navbar %>
        </div> <!-- /.nav-collapse -->
        <% end %>
    </div> <!-- /.container -->
  </div> <!-- /.navbar-inner -->
</div> <!-- /.navbar -->
